$base-white: 		#fefefe; // off-white
$base-black: 		#000036; // dark blue (text)

$pink: 					#db3c7f;
$dark-pink:   	#5c0819;
$purple: 				#2b0000;

$cyan: 					#00f8fb;
$light-cyan: 		#c5eff7;

$text-color: 		$base-black;
$link-color: 		$purple;

html {
	background: $cyan;
}

.container {
	color: $text-color;
	background-color: $pink;
}

.contact .url {
	color: $text-color;
	&:hover,&:focus,&:active {
		color: $link-color;
	}
}

details[open] summary:after {
	color: $link-color;
}
