$base-white: 		#fefefe; // off-white
$base-black: 		#000036; // dark blue (text)

$pink: 					#db3c7f;
$dark-pink:   	#5c0819;
$purple: 				#2b0000;

$cyan: 					#00f8fb;
$light-cyan: 		#c5eff7;

$text-color: 		$base-black;

$cyan-mix:    mix($light-cyan, $cyan, 60%);
$pink-mix: 		mix($base-white, $dark-pink, 15%);
$link-color: saturate($pink-mix, 25%);

html {
	background: $pink;
}

.container {
	color: $text-color;
	background-color: $cyan;
}

.contact .url {
	color: $text-color;
	&:hover,&:focus,&:active {
		color: $link-color;
	}
}

details[open] summary:after {
	color: $link-color;
}

.about-detail {
	background-color: $cyan-mix;
	border: 1px dashed $light-cyan;
}
