:root {
  --black: #000036;
  --charcoal: #2F242C;
  --cyan: #00f8fb;
  --pink: #db3c7f;
  --vibrant-pink: #eb1653;
  --mint-green: #7fffd4;
  --yellow: #ffd700;
  --orange: #FF9770;
  --mauve: #E4C1F9;
  --lilac: #BCB6FF;
  --purple: #502274;
}