:root {
  --black: #000036;
  --charcoal: #2F242C;
  --cyan: #00f8fb;
  --pink: #db3c7f;
  --vibrant-pink: #eb1653;
  --mint-green: #7fffd4;
  --yellow: #FFD972;
  --orange: #FF9770;
  --mauve: #E4C1F9;
  --purple: #502274;

  --baltic: #035E7B;
  --raspberry: #D64550;
  --grape: #8D3B72;
  --darkpurple: #4C1A57;
  --slate: #7D8491;
  --iron: #4C5B61;
  --darkgrape: #56445D;
}